a {
  background-color: lightskyblue;
  padding-bottom: 60px;
  border-bottom-width: 2px;
  border-bottom-style: inset;
  margin-top: 100px;
  display: flex;
}

p {
  background-color: lightskyblue;
  padding-bottom: 40px;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  margin-top: 30px;
}

.title {
  background-color: lightskyblue;
  padding-bottom: 50px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  margin-bottom: 60px;
}
.img-tech {
  width: 300px;
  background-color: lightskyblue;
  padding-bottom: 50px;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  margin-bottom: 60px;
}
h4 {
  background-image: url(download.jfif);
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
